// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.h1-index {
    text-align: center;
}

.table-index {
    border: 1px solid blue;
    margin: auto;
    thead {
        background-color: #000000;
    }
    th {
        color: #ffffff;
    }
    td {
        padding: 5px;
    }
}