// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.h1-index {
    text-align: center;
}

.aside-index {
    padding-right: 50px;
    padding-bottom: 45px;
    border: 1px solid #0000ff;
    float: right;
}

.container {
    table {
        margin: auto;
        width: 500px;
    }
}

.contenedor-mas {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btns-action {
    margin-left: 10px;
    font-size: 0;
}

.btns-action-delete {
    margin-left: 10px;
    margin-right: -30px;
}

.boton-show:hover,
.boton-edit:hover,
.boton-delete:hover {
    text-decoration: none;
}

.boton-edit {
    text-decoration: none;
}

.boton-new {
    display: block;
    text-decoration: none;
    background-color: #ff0000;
    color: #ffffff;
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 4);
    padding-top: 17px;
    font-size: 18px;
}

.boton-new:hover {
    background-color: #ffffff;
    color: #ff0000;
    text-decoration: none;
}

@media (max-width: 768px) {
    .aside-index {
        padding-right: 10px;
    }
}