.h1-id {
    text-align: center;
}

.table-id {
    margin: auto;
    tr {
        border: 1px solid #000000;
    }
    td {
        border: 1px solid #000000;
        padding: 12px;
    }
    #boton {
        padding-left: 40px;
        border-color: transparent;
    }
}