.h1-id {
    text-align: center;
}

.table-id {
    border: 2px solid #000000;
    margin: auto;
}

.table-id tr {
    border: 1px solid #000000;
}

.table-id tr td {
    border: 1px solid #000000;
    padding: 12px;
}